h1, h2, h3, h4, h5, h6 {
  font-family: 'Poiret One', sans-serif;
}
body {
  font-family: 'Oxygen', sans-serif;
}

#spacer {
  height: 60px;
}

.nw {
  white-space: nowrap;
}

#web-identities li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 120%;
}
