<paper-listbox id="identities" selectable="none">
  <paper-icon-item>
    <iron-icon icon="fa:map-marker" item-icon></iron-icon>
    <address class="vcard">
      <a class="adr" href="http://www.geonames.org/7839562/brisbane.html">
        <span class="locality">Brisbane</span>,
        <span class="country">Australia</span>
      </a>
    </address>
  </paper-icon-item>
  <paper-icon-item>
    <iron-icon icon="fa:twitter" title="Twitter" item-icon></iron-icon>
    <a href="https://twitter.com/tjdett">tjdett</a>
  </paper-icon-item>
  <paper-icon-item>
    <iron-icon icon="fa:github" title="GitHub" item-icon></iron-icon>
    <a href="https://github.com/tjdett">tjdett</a>
  </paper-icon-item>
  <paper-icon-item>
    <iron-icon icon="fa:facebook" title="Facebook" item-icon></iron-icon>
    <a href="http://www.facebook.com/tim.dettrick">tim.dettrick</a>
  </paper-icon-item>
  <paper-icon-item>
    <iron-icon icon="fa:linkedin" title="LinkedIn" item-icon></iron-icon>
    <a href="http://www.linkedin.com/in/timdettrick">timdettrick</a>
  </paper-icon-item>
  <paper-icon-item>
    <iron-icon icon="fa:key" title="PGP Key" item-icon></iron-icon>
    <a title="PGP Key (0x85FB53F0)"
      href="https://pgp.mit.edu/pks/lookup?op=get&search=0xAF08701485FB53F0">
      1DC5 86BE 4DB4 42DA F5CA  BB13 AF08 7014 85FB 53F0
    </a>
  </paper-icon-item>
</paper-listbox>
