<ul id="web-identities" class="icons-ul">
  <li>
    <i class="icon-li icon-twitter"></i>
    <a href="https://twitter.com/tjdett">tjdett</a>
  </li>
  <li>
    <i class="icon-li icon-github"></i>
    <a href="https://github.com/tjdett">tjdett</a>
  </li>
  <li>
    <i class="icon-li icon-facebook"></i>
    <a href="http://www.facebook.com/tim.dettrick">tim.dettrick</a>
  </li>
  <li>
    <i class="icon-li icon-linkedin"></i>
    <a href="http://www.linkedin.com/in/timdettrick">timdettrick</a>
  </li>
</ul>
