<!DOCTYPE html>
<html>
  <head>
    <!-- OpenID -->
    <link href='https://www.google.com/accounts/o8/ud?source=profiles' rel='openid2.provider openid.server' />
    <link href='https://www.google.com/profiles/tjdett' rel='openid2.local_id openid.delegate' />
    <!-- Metadata -->
    <link rel="author" href="https://plus.google.com/101912509009607560491" />
    <meta name='keywords' content='Tim Dettrick' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Resources -->
    <!-- 1. Load webcomponents-lite.min.js for polyfill support. -->
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js">
    </script>
    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Poiret+One|Oxygen' rel='stylesheet' type='text/css' />
    <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import" href="bower_components/iron-image/iron-image.html">
    <link rel="import" href="bower_components/paper-item/all-imports.html">
    <link rel="import" href="bower_components/app-layout/app-layout.html">
    <link rel="import" href="bower_components/polymer-font-awesome-icons/fa-all.html">
    <style is="custom-style" include="iron-flex"></style>
    <style is="custom-style" include="paper-item-shared-styles"></style>
    <style is="custom-style">
    footer {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
      opacity: 0.25;
      position: absolute;
      left: 0;
      bottom: 5px;
      height: 1em;
      width: 100%;
    }
    </style>
  </head>
  <body class="fullbleed">
  {{content}}

  {% if site.github.build_revision %}
  <footer>
    <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}">
        Built from commit {{ site.github.build_revision }}
    </a>
  </footer>
  {% endif %}
  </body>
</html>
